.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: xx-large;

    
}
.black
{
    background-color: black;
    color: white;
    font-size: xx-large;
    -webkit-transition: .4s;
    transition: .4s;
}
.white
{
    background-color: white;
    color: black;
    font-size: xx-large;
    -webkit-transition: .4s;
    transition: .4s;
}